{% extends 'base.html' %}
{% block content %}
<style>
        @import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
        body{margin: 150px;
            padding: 20px;
            border-style: double double double double;
            border-width: 3px 3px 3px 3px;
            border-color:midnightblue midnightblue midnightblue midnightblue;
            font-family: 'Do Hyeon', sans-serif;
            background-color: lightslategray}
            #hooow{
                font-size:20px;
    }
        </style>

<div class="container" style="background-color:skyblue ; height:100vh">
    <hr>
    <form action="{%url 'search' %}" method ='get'>
        <select name="search_filter">
                <option value="제목">제목</option>
                <option value="내용">내용</option>
                <option value="동시">동시 검색</option>
            </select>
        <input type="text", name="search">
        <button type="submit" class="btn btn-dark" valud="검색">검색</button>
    </form>

    {% if user.is_authenticated %}
    {{user.profile.region}}{{user.username}}{{user.profile.nickname}}님 환영합니다.

    <br>
    <a href="{%url 'create'%}"><button type="button" class="btn btn-outline-dark">글쓰기</button></a>
    <br><br>
    <form action="{%url 'logout'%}" method="post">
        {% csrf_token %}
        <input type="submit" value="로그아웃">
    </form>
    {% else %}
    <a href="{%url 'login'%}">로그인</a>
    <a href="{%url 'signup'%}">회원가입</a>
    
    {% endif %}
    <form action="{%url 'category' %}">
        <select name="category">
            <option value="공지">공지</option>
            <option value="자유">자유</option>
            <option value="질문">질문</option>
        </select>
        <input type="submit", value="분류">
    </form>
        <br><br><br>
        {%for p in posts%}
        <div align="right">
            <p>글 번호 : {{p.id}}</p>
            <p>카테고리 {{p.category}} </p>
            <a href ="{%url 'read' p.id%}" style="color:gray" id="hooow" >글 제목 : {{p.title}}</a>
            <br>
            <br>
            <p>글 내용 : {{p.content|truncatewords:10}}</p>
            <p>글 작성 시간 : {{p.created_at}}</p>
            <p>글 수정 시간 : {{p.updated_at}}</p>
            <hr>
        </div>
        {%endfor%}

        <nav>
                <ul class="pagination">  
                    {% if posts.has_previous %}
                    <li class="page-item "><a class="page-link" href="?page={{ posts.previous_page_number }}">&lt;</a></li>
                    {% endif %} 
                    {% if posts.number > 2 %}
                    <li class="page-item"><a class="page-link" href="?page=1">&lt;&lt;</a></li>
                    {%endif%}
                    {% if posts.has_next %}
                    <li class="page-item ml-auto"><a class="page-link" href="?page={{ posts.next_page_number }}">&gt;</a></li>
                    {% endif %}
                </ul>
            </nav>
    </div>

{% endblock %}

