{% extends 'base.html' %}
{% block content %}

<p>글 제목 : {{post.title}}</p>
<p>글쓴이 : {{post.user}}</p>
<p>글 내용</p>
{{post.content|linebreaksbr}}
{%if post.pic%}
    <img src="{{post.pic.url}}"> 
{%endif%}
<br>
<a href="/"><button type="button" class="btn btn-outline-primary">돌아가기</button></a>

{% if request.user == post.user or requewt.user.is_staff %}
    <a href="{%url 'update' post.id%}"><button type="button" class="btn btn-outline-info">수정하기</button></a>
    <a href="{%url 'delete' post.id%}"><button type="button" class="btn btn-outline-warning">삭제하기</button></a>
{% endif %}

{% endblock %}
