{% extends 'base.html' %}
{% block content %}


<h1>글 수정 페이지</h1>
<form action="{%url 'update' post.id%}" method="POST"> 
    {%csrf_token%}
    <p>글 제목</p>
    <input type="text" name="title" value = "{{post.title}}"> 
    <p>글 내용</p>
    <textarea name="content"cols="30" rows="10">{{post.content}}</textarea> 
    <input type="submit" value="글 수정">

    <select name="category">
            <option value="{{post.category}}">{{post.category}}</option>
            {% if category == "자유" %}
            <option value="자유">자유</option>
            <option value="공지">공지</option>
            <option value="질문">질문</option>
            {% endif %}
            {% if category == "공지" %}
            <option value="공지">공지</option>
            <option value="자유">자유</option>
            <option value="질문">질문</option>
            {% endif %}
            {% if category == "질문" %}
            <option value="질문">질문</option>
            <option value="공지">공지</option>
            <option value="자유">자유</option>
            {% endif %}
        </select>

</form>

{% endblock %}